.modal.fade.modal-form
%section.container.assignments
  .row
    .col-md-10
      .course-title.header
        = link_to @course.display_title, courses_path, class: 'title', title: 'Return to List of Courses'
        - if current_user.instructor?
          = link_to new_course_assignment_path(@course), remote: true, class: 'new-card', title: 'Click to Create a New Assignment' do
            %span.glyphicon.glyphicon-plus
    .assignment-cards
      - @course.assignments.each do |assignment|
        = render 'assignments/assignment', assignment: assignment, submission: assignment.existing_or_new_submission(current_user), course: @course
