- if @assignment.valid?
  $('.messages-container').html("#{ j render 'shared/messages' }");
  $("#assignment_#{@assignment.id}").replaceWith("#{ j render 'assignment', assignment: @assignment }");
  $('.modal-form').modal('hide');
- else
  $('.modal-form').html("#{ j render 'form', title: "Edit Assignment"}")
