---
http_interactions:
- request:
    method: post
    uri: https://view-api.box.com/1/documents
    body:
      encoding: UTF-8
      string: '{"url":"https://s3.amazonaws.com/vince-gradebook/sample.docx","name":"sample_file"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token clqt9vszxqn069h9ktzyig7sz7d0tk8n
  response:
    status:
      code: 202
      message: ACCEPTED
    headers:
      Allow:
      - GET, POST, HEAD
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"type": "document", "id": "c68749b5cdf547e989476a30527ecfd6", "status":
        "queued", "name": "sample_file", "created_at": "2015-11-10T17:11:11.743Z"}'
  recorded_at: Tue, 10 Nov 2015 17:11:11 GMT
recorded_with: VCR 3.0.0
