%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to root_path do
        .navbar-brand
          %span.glyphicon.glyphicon-book
          GradeBook
      %ul.nav.navbar-nav
        %li= link_to("Sign Out", sign_out_path, method: :delete)
