body
  background-color: #E62E00
section
  margin-top: 5%
.logo
  color: white
  margin-bottom: 40px
  h3
    font-size: 40px
    font-weight: bold
.login
  color: #E62E00
  .center-block
    margin-top: 20px
    input:focus
      border-color: #E62E00
      box-shadow: 0 0 5px #E62E00
  a
    color: #E62E00
    font-size: 18px
